@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'Proxima Nova';
    font-style: normal;
    font-weight: 400;
    font-display: optional;
    src: url(/fonts/proxima/proxima-regular.woff2) format('woff2');
  }

  @font-face {
    font-family: 'Proxima Nova';
    font-style: normal;
    font-weight: 700;
    font-display: optional;
    src: url(/fonts/proxima/proxima-bold.woff2) format('woff2');
  }

  @font-face {
    font-family: 'Neue Montreal';
    font-style: normal;
    font-weight: 400;
    font-display: optional;
    src: url(/fonts/neue/neue-regular.woff2) format('woff2');
  }
  @font-face {
    font-family: 'Neue Montreal';
    font-style: italic;
    font-weight: 400;
    font-display: optional;
    src: url(/fonts/neue/neue-regular-italic.woff2) format('woff2');
  }
  @font-face {
    font-family: 'Neue Montreal';
    font-style: normal;
    font-weight: 700;
    font-display: optional;
    src: url(/fonts/neue/neue-bold.woff2) format('woff2');
  }
  @font-face {
    font-family: 'Neue Montreal';
    font-style: italic;
    font-weight: 700;
    font-display: optional;
    src: url(/fonts/neue/neue-bold-italic.woff2) format('woff2');
  }

  @font-face {
    font-family: 'Integral CF';
    font-style: normal;
    font-weight: 400;
    font-display: optional;
    src: url(/fonts/integral/integral-regular.woff2) format('woff2');
  }
  @font-face {
    font-family: 'Integral CF';
    font-style: italic;
    font-weight: 400;
    font-display: optional;
    src: url(/fonts/integral/integral-regular-oblique.woff2) format('woff2');
  }
  @font-face {
    font-family: 'Integral CF';
    font-style: normal;
    font-weight: 700;
    font-display: optional;
    src: url(/fonts/integral/integral-bold.woff2) format('woff2');
  }
  @font-face {
    font-family: 'Integral CF';
    font-style: italic;
    font-weight: 700;
    font-display: optional;
    src: url(/fonts/integral/integral-bold-oblique.woff2) format('woff2');
  }

  html {
    @apply h-full bg-white;
  }

  body {
    @apply h-full font-body text-lg sm:text-xl;
  }

  ol {
    @apply pl-4;
  }
}

@layer components {
  .tw-heading {
    @apply text-4xl sm:text-5xl font-heading uppercase font-bold;
  }

  .tw-subheading {
    @apply text-3xl sm:text-4xl font-heading uppercase font-bold;
  }

  .tw-card-title {
    @apply text-lg sm:text-2xl font-subheading font-bold;
  }

  .tw-tagline {
    @apply font-subheading sm:text-xl lg:text-2xl;
  }

  .tw-summary {
    @apply text-lg font-subheading;
  }

  .tw-transition {
    @apply transition duration-300 ease-in-out;
  }

  .tw-bg-hover {
    @apply bg-teal-600 hover:bg-teal-700;
  }

  .tw-text-hover {
    @apply text-teal-600 hover:text-teal-700;
  }
}
