@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'Neue Montreal';
    font-style: normal;
    font-weight: 100;
    font-display: swap;
    src: url(/fonts/neue/neuemontreal-thin.woff2) format('woff2');
  }
  @font-face {
    font-family: 'Neue Montreal';
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: url(/fonts/neue/neuemontreal-light.woff2) format('woff2');
  }
  @font-face {
    font-family: 'Neue Montreal';
    font-style: italic;
    font-weight: 300;
    font-display: swap;
    src: url(/fonts/neue/neuemontreal-lightitalic.woff2) format('woff2');
  }
  @font-face {
    font-family: 'Neue Montreal';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(/fonts/neue/neuemontreal-regular.woff2) format('woff2');
  }
  @font-face {
    font-family: 'Neue Montreal';
    font-style: italic;
    font-weight: 400;
    font-display: swap;
    src: url(/fonts/neue/neuemontreal-italic.woff2) format('woff2');
  }
  @font-face {
    font-family: 'Neue Montreal';
    font-style: regular;
    font-weight: 500;
    font-display: swap;
    src: url(/fonts/neue/neuemontreal-medium.woff2) format('woff2');
  }
  @font-face {
    font-family: 'Neue Montreal';
    font-style: italic;
    font-weight: 500;
    font-display: swap;
    src: url(/fonts/neue/neuemontreal-mediumitalic.woff2) format('woff2');
  }
  @font-face {
    font-family: 'Neue Montreal';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url(/fonts/neue/neuemontreal-bold.woff2) format('woff2');
  }
  @font-face {
    font-family: 'Neue Montreal';
    font-style: italic;
    font-weight: 700;
    font-display: swap;
    src: url(/fonts/neue/neuemontreal-bolditalic.woff2) format('woff2');
  }
  @font-face {
    font-family: 'Fuji Sans';
    font-style: regular;
    font-weight: 300;
    font-display: swap;
    src: url(/fonts/fuji/fuji-light.woff2) format('woff2');
  }
  @font-face {
    font-family: 'Fuji Sans';
    font-style: regular;
    font-weight: 400;
    font-display: swap;
    src: url(/fonts/fuji/fuji-regular.woff2) format('woff2');
  }
  @font-face {
    font-family: 'Fuji Sans';
    font-style: regular;
    font-weight: 500;
    font-display: swap;
    src: url(/fonts/fuji/fuji-medium.woff2) format('woff2');
  }
  @font-face {
    font-family: 'Fuji Sans';
    font-style: regular;
    font-weight: 700;
    font-display: swap;
    src: url(/fonts/fuji/fuji-bold.woff2) format('woff2');
  }

  html {
    @apply h-full;
  }

  body {
    @apply h-full overflow-x-hidden;
  }
}

@layer components {
  .tw-body {
    @apply prose prose-neutral text-base sm:text-lg lg:text-xl;
  }

  .tw-center {
    @apply absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2;
  }

  .tw-card-title {
    @apply text-xl font-bold sm:text-2xl;
  }

  .tw-details-label {
    @apply mt-3 text-5xl font-extrabold text-brand-600;
  }

  .tw-details-label-tag {
    @apply text-xs sm:text-sm;
  }

  .tw-section {
    @apply py-16 px-3 sm:py-20 lg:py-24;
  }

  .tw-section-px {
    @apply px-6 sm:px-8 lg:px-0;
  }

  .tw-section-heading {
    @apply text-3xl font-bold sm:text-5xl lg:text-6xl;
  }

  .tw-btn {
    @apply tw-transition inline-flex items-center rounded-full border-2 px-2.5 py-1.5 text-xs font-medium uppercase tracking-widest shadow-sm focus:outline-none focus:ring-2 focus:ring-brand-500 focus:ring-offset-2 md:px-4 md:py-2 md:text-sm lg:px-6 lg:py-3 lg:text-base;
  }

  .tw-container {
    @apply mx-auto mt-12 max-w-screen-2xl space-y-12 px-6 sm:px-12 lg:mt-24 lg:space-y-24 lg:px-24;
  }

  .tw-btn-solid {
    @apply border-white bg-brand-400 hover:border-brand hover:bg-white hover:text-brand;
  }

  .tw-transition {
    @apply transition-all duration-300 ease-in-out;
  }

  .tw-details-icon {
    @apply h-6 w-6 text-brand sm:h-8 sm:w-8;
  }

  .tw-radio-btn {
    @apply tw-transition h-6 w-6 cursor-pointer border-slate-300 text-brand hover:border-brand focus:ring-slate-100;
  }

  .tw-inquiry-form-label {
    @apply block text-xl font-bold uppercase text-slate-700;
  }

  .tw-inquiry-form-checkbox {
    @apply block text-lg font-medium text-slate-700;
  }

  .tw-full-page-mobile {
    min-height: calc(100vh - 64px);
  }

  .tw-full-page-desktop {
    min-height: calc(100vh - 96px);
  }

  .embla {
    @apply relative rounded-2xl bg-slate-50 py-16 shadow-md sm:py-20 lg:py-24;
  }

  .embla__viewport {
    @apply w-full overflow-hidden;
  }

  .embla__viewport.is-draggable {
    @apply cursor-grab;
  }

  .embla__viewport.is-dragging {
    @apply cursor-grabbing;
  }

  .embla__container {
    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -webkit-tap-highlight-color: transparent;
    @apply flex select-none;
  }

  .embla__slide {
    @apply relative min-w-full px-6 sm:px-12 lg:px-24;
  }

  .embla__slide__inner {
    @apply relative overflow-hidden;
  }

  .embla__button {
    @apply tw-transition absolute top-1/2 z-10 h-8 w-8 -translate-y-1/2 cursor-pointer touch-manipulation border-none text-brand-500 outline-none hover:scale-90 hover:text-brand-400 md:h-12 md:w-12 lg:h-16 lg:w-16;
  }

  .embla__button:disabled {
    @apply cursor-default opacity-30 hover:scale-100 hover:text-brand-500;
  }

  .embla__button__svg {
    @apply h-full w-full;
  }

  .embla__button--prev {
    @apply left-1;
  }

  .embla__button--next {
    @apply right-1;
  }

  .hover-underline-animation {
    @apply relative inline-block text-brand-300;
  }

  .hover-underline-animation:after {
    content: '';
    transform: scaleX(0);
    transition: transform 0.25s ease-out;
    @apply absolute bottom-0 left-0 h-0.5 w-full origin-bottom-right bg-brand-300;
  }

  .hover-underline-animation:hover:after {
    transform: scaleX(1);
    @apply origin-bottom-left;
  }
}
