@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'Neue Montreal';
    font-style: normal;
    font-weight: 100;
    font-display: swap;
    src: url(/fonts/neue/neuemontreal-thin.woff2) format('woff2');
  }
  @font-face {
    font-family: 'Neue Montreal';
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: url(/fonts/neue/neuemontreal-light.woff2) format('woff2');
  }
  @font-face {
    font-family: 'Neue Montreal';
    font-style: italic;
    font-weight: 300;
    font-display: swap;
    src: url(/fonts/neue/neuemontreal-lightitalic.woff2) format('woff2');
  }
  @font-face {
    font-family: 'Neue Montreal';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(/fonts/neue/neuemontreal-regular.woff2) format('woff2');
  }
  @font-face {
    font-family: 'Neue Montreal';
    font-style: italic;
    font-weight: 400;
    font-display: swap;
    src: url(/fonts/neue/neuemontreal-italic.woff2) format('woff2');
  }
  @font-face {
    font-family: 'Neue Montreal';
    font-style: regular;
    font-weight: 500;
    font-display: swap;
    src: url(/fonts/neue/neuemontreal-medium.woff2) format('woff2');
  }
  @font-face {
    font-family: 'Neue Montreal';
    font-style: italic;
    font-weight: 500;
    font-display: swap;
    src: url(/fonts/neue/neuemontreal-mediumitalic.woff2) format('woff2');
  }
  @font-face {
    font-family: 'Neue Montreal';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url(/fonts/neue/neuemontreal-bold.woff2) format('woff2');
  }
  @font-face {
    font-family: 'Neue Montreal';
    font-style: italic;
    font-weight: 700;
    font-display: swap;
    src: url(/fonts/neue/neuemontreal-bolditalic.woff2) format('woff2');
  }
  @font-face {
    font-family: 'Fuji Sans';
    font-style: regular;
    font-weight: 300;
    font-display: swap;
    src: url(/fonts/fuji/fuji-light.woff2) format('woff2');
  }
  @font-face {
    font-family: 'Fuji Sans';
    font-style: regular;
    font-weight: 400;
    font-display: swap;
    src: url(/fonts/fuji/fuji-regular.woff2) format('woff2');
  }
  @font-face {
    font-family: 'Fuji Sans';
    font-style: regular;
    font-weight: 500;
    font-display: swap;
    src: url(/fonts/fuji/fuji-medium.woff2) format('woff2');
  }
  @font-face {
    font-family: 'Fuji Sans';
    font-style: regular;
    font-weight: 700;
    font-display: swap;
    src: url(/fonts/fuji/fuji-bold.woff2) format('woff2');
  }

  html {
    @apply h-full;
  }

  body {
    @apply h-full;
  }

  @keyframes AnimationName {
    0%,
    100% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
  }
}

@layer components {
  .tw-center {
    @apply absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2;
  }

  .tw-container {
    @apply max-w-screen-2xl mx-auto px-3 sm:px-6 lg:px-8;
  }

  .tw-section {
    @apply space-y-6 sm:space-y-12;
  }

  .tw-heading {
    @apply text-4xl sm:text-5xl uppercase font-bold;
  }

  .tw-subheading {
    @apply text-2xl sm:text-3xl uppercase font-bold;
  }

  .tw-card-title {
    @apply text-xl sm:text-2xl font-bold;
  }

  .tw-card-subtitle {
    @apply text-lg sm:text-xl text-gray-700;
  }

  .tw-body {
    @apply text-base sm:text-lg;
  }

  .tw-btn {
    @apply inline-flex items-center px-2.5 sm:px-6 py-1.5 sm:py-3 text-xs sm:text-base rounded-full shadow-sm text-white bg-transparent border-2 border-white hover:bg-paradiso-600 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-100 tw-transition uppercase tracking-widest;
  }

  .tw-grid-gap {
    @apply gap-x-4 gap-y-8 sm:gap-x-6 xl:gap-x-8;
  }

  .tw-external-link {
    @apply font-medium text-paradiso underline;
  }

  .tw-body-hero {
    @apply text-lg sm:text-xl;
  }

  .tw-transition {
    @apply transition duration-300 ease-in-out;
  }

  .tw-bg-hover {
    @apply bg-paradiso hover:bg-paradiso;
  }

  .tw-text-hover {
    @apply text-paradiso hover:text-paradiso;
  }

  .tw-form-label {
    @apply font-medium text-sm sm:text-lg;
  }

  .tw-label {
    @apply font-bold text-sm sm:text-base uppercase;
  }

  .tw-sublabel {
    @apply text-xs sm:text-sm text-gray-700;
  }

  .tw-navlink-mobile {
    @apply text-2xl;
  }

  .tw-card-title-lg {
    @apply font-bold uppercase;
  }

  .tw-section-heading {
    @apply text-xl sm:text-2xl lg:text-5xl font-medium;
  }

  .tw-details-icon {
    @apply w-6 sm:w-8 h-6 sm:h-8 text-paradiso;
  }

  .tw-details-value {
    @apply order-1 tw-card-title-lg;
  }

  .tw-background-animate {
    background-size: 400%;

    -webkit-animation: AnimationName 10s ease infinite;
    -moz-animation: AnimationName 10s ease infinite;
    animation: AnimationName 10s ease infinite;
  }
  /* form */
  .tw-radio-btn {
    @apply focus:ring-gray-100 h-4 w-4 text-paradiso border-gray-300 cursor-pointer;
  }
}
/* 
@layer utilities {
  .bg-size-2em {
    background-size: 100% 0.2em;
  }
  .bg-hundred {
    background-size: 100% 100%;
  }
  .bg-near-bottom {
    background-position: 0 88%;
  }
  .bg-growing-underline {
    @apply bg-no-repeat bg-near-bottom bg-size-2em transition-all duration-150 ease-linear hover:bg-hundred focus:bg-hundred;
  }
} */
